@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4ysydj');
  src:  url('fonts/icomoon.eot?4ysydj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4ysydj') format('truetype'),
    url('fonts/icomoon.woff?4ysydj') format('woff'),
    url('fonts/icomoon.svg?4ysydj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-grooveshark:before {
  content: "\e900";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-bell:before {
  content: "\e951";
}
.icon-display:before {
  content: "\e956";
}
.icon-database:before {
  content: "\e964";
}
.icon-warning:before {
  content: "\ea07";
}
